{% extends "layout.html" %}

{% block title %}
    User Mgmt
{% endblock %}

{% block main %}

        <table class="table table-striped form-wrapper">
            <thead>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Section</th>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr>
                        <td>{{ row["id"] }}</td>
                        <td>{{ row["username"] }}</td>
                        <td>{{ row["email"] }}</td>
                        <td>{{ row["section"] }}</td>
                        <td>
                            <form action="/deregister" method="post">
                                <input name="id" type="hidden" value="{{ row['id'] }}">
                                <button type="submit" class="btn btn-primary">Deregister</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}